.body{
    background-color: #fff;
    text-transform: capitalize;
    color: black;
}
.container{
    max-width: 600px;
}

.btn{
    color: #fff;
    background-color:#43d;
    outline: none !important;
    box-shadow: none !important;
    
}

.btn:hover{
    color: rgb(32, 14, 14);
}